/**
 * @author wangxiaochi
 */

div, span, a, p {
    font-family: Arial, "微软雅黑";
}
/* all */
body {
    background-color: #E9E7E2;
    color: #7E7E7E;
}
a {
    color: #7E7E7E;
    text-decoration: none;
}
textarea {
    border-color: #969696;
}

.btn-small {
    font-size: small;
}

.header-inner {
    margin-bottom: 20px;
}
.detail {
    padding-top: 20px;
    padding-bottom: 20px;
}

.comment-form {
}

.login-btn-wrap {
    font-size: small;
}

.detail-wrap {
    font-size: small;
}

.nav {
    display: inline-block;
    list-style-type: none;
    color: #7E7E7E;
    padding-left: 15px;
}
.nav a {
    color: #7E7E7E;
    text-decoration: none;
}

.news-list {
    list-style-type: none;
    clear: both;
}

.news-list li {
    margin-left: 11px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.news-item {
    position: relative;
}
.upvote-btn {
    width: 20px;
    opacity: 0.5;
    position: absolute;
    top: 12px;
    left: -26px;
}
.upvote-btn:hover {
    opacity: 0.8;
}

.news-item h2 {
    display: inline-block;
    font-size: 1em;
}
.news-item h2 a {
    color: #582D2D;
}

.news-item .site {
}
.news-items .detail-wrap {
}

.login-btn-wrap {
    float: right;
    margin-top: 29px;
}

.comment-list {
    list-style-type: none;
}
.comment-list li {
    border-top: 1px dotted #C5BCBC;
    padding-top: 11px;
    margin-top: 18px;
}
.comment-control-box {
    display: inline-block;
    font-size: small;
    margin-bottom: 12px;
}
.comment-content {
    color: #363636;
    margin-bottom: 10px;
}

.logo-wrap {
    display: inline-block;
    margin-top: 10px;
}
.logo-wrap img {
    width: 34px;
}


.content-wrap {
    width: 1000px;
    margin: auto;
}

.content-inner {
    margin-left: 52px;
}
