/**
 * @author wangxiaochi
 */

/* all */
body {
    background-color: #E9E7E2;
}

.nav {
    list-style-type: none;
}
.nav li {
    float: left;
}

.news-list {
    list-style-type: none;
    clear: both;
    position: relative;
}

.news-list li {
    margin-left: 11px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.upvote-btn {
    position: absolute;
    left: 10px;
}


